# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.sdf
BattleshipGameAlgo/BattleshipGameAlgo.v12.suo
*.opensdf
*.suo
*.db
*.db
BattleshipGameAlgo/.vs/BattleshipGameAlgo/v14/.suo
*.opendb
*.suo
BattleshipGameAlgo/BattleshipGameAlgo.VC.db
*.pdb
*.ipdb
*.iobj
BattleshipGameAlgo/SmartAlgo/x64/Release/SmartAlgo.tlog/unsuccessfulbuild
*.lastbuildstate
*.tlog
BattleshipGameAlgo/SmartAlgo/x64/Release/SmartAlgo.log
BattleshipGameAlgo/PreDefinedStepsAlgo/x64/Release/PreDefinedStepsAlgo.log
BattleshipGameAlgo/NaiveAlgo/x64/Release/NaiveAlgo.log
BattleshipGameAlgo/Common/x64/Release/Common.log
BattleshipGameAlgo/Common/x64/Release/Common.Build.CppClean.log
BattleshipGameAlgo/BattleshipGameMain/x64/Release/BattleshipGameMain.log
*.db
*.exp
BattleshipGameAlgo/BattleshipGameAlgo.VC.db
*.suo
BattleshipGameAlgo/BattleshipGameMain/x64/Release/BattleshipGameMain.Build.CppClean.log
BattleshipGameAlgo/NaiveAlgo/x64/Release/NaiveAlgo.Build.CppClean.log
BattleshipGameAlgo/PreDefinedStepsAlgo/x64/Release/PreDefinedStepsAlgo.Build.CppClean.log
BattleshipGameAlgo/SmartAlgo/x64/Release/SmartAlgo.Build.CppClean.log
*.idb
*.log
*.ilk
*.cache
*.user
